*{
    font-family: 'Alkatra', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Tilt Warp', cursive;
font-family: 'Ubuntu', sans-serif;
margin: 0;
padding: 0;
}
.nav-logo{
    display: flex;
    gap: 8px;
}
.except-txt{
    color: pink;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.anchor-sec{
    display: flex;
    gap: 30px;
}
.except-items{
    display: flex;
    background-color: #08FFF9;
    border-radius: 8px;
    padding: 8px 8px;
    height: 25px;
}
.nav-btn{
    border: 0;
    background-color: #08FFF9;
}
.nav-icons{
    margin: 8px;
}
.anchor-opt{
    margin-top: 15px;
}
.anchor-opt a{
    text-decoration: none;
    color: black;
    margin: 12px;
}
.main-sec{
    margin-top: 150px;
}
.play-text{
    font-size: 30px;
}
.goat-text{
    color: #7e65f0;
    font-size: 55px;
    font-weight: 800;
}
.banner-icn{
    display: flex;
    gap: 8px;
    margin-top: 15px;
}
.banner-1{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
.banner-1-img{
    width: 400px;
    height: 381px;
}
.banner-1-left{
    background-image: url('./images/Group 14.png');
    height: 380px;
    width: 270px;
}
.btn-sec{
    margin-top: 20px;
}
.sign-btn{
    background-color: rgb(146, 107, 146);
    color: white;
    border: 0;
    padding: 12px 20px;
    border-radius: 15px;
}
.go-btn{
    background-color: #4EC5F7;
    color:white;
    border: 0;
    padding: 12px 20px;
    border-radius: 15px;
}