*{
    font-family: 'Alkatra', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Tilt Warp', cursive;
font-family: 'Ubuntu', sans-serif;
margin: 0;
padding: 0;
}
.nav-logo{
    display: flex;
    gap: 8px;
}
.except-txt{
    color: pink;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.anchor-sec{
    display: flex;
    gap: 30px;
}
.except-items{
    display: flex;
    background-color: #08FFF9;
    border-radius: 8px;
    padding: 8px 8px;
    height: 25px;
}
.nav-btn{
    border: 0;
    background-color: #08FFF9;
}
.nav-icons{
    margin: 8px;
}
.anchor-opt{
    margin-top: 15px;
}
.anchor-opt a{
    text-decoration: none;
    color: black;
    margin: 12px;
}
.main-sec{
    margin-top: 100px;
}
.play-text{
    font-size: 30px;
}
.goat-text{
    color: #7e65f0;
    font-size: 55px;
    font-weight: 800;
}
.banner-icn{
    display: flex;
    gap: 8px;
    margin-top: 15px;
}
.banner-1{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
.banner-1-img{
    width: 400px;
    height: 381px;
}
.banner-1-left{
    background-image: url('./images/Group 14.png');
    height: 380px;
    width: 270px;
    margin-top: 80px;
}
.btn-sec{
    margin-top: 20px;
}
.sign-btn{
    background-color: rgb(146, 107, 146);
    color: white;
    border: 0;
    padding: 12px 20px;
    border-radius: 15px;
}
.go-btn{
    background-color: #4EC5F7;
    color:white;
    border: 0;
    padding: 12px 20px;
    border-radius: 15px;
}
.banner-2{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
.banner-2-img{
    width: 448px;
    height: 289px;
}
.banner-2-right{
    margin-top: 20px;
    margin-right: 60px;
    text-align: end;
}
.banner-2-text{
    color: #7e65f0;
    text-align: end;
}
.banner-2-para{
    text-align: end;
    margin-top: 10px;
}
.leash-text{
    font-size: 22px;
    font-weight: 800;
}
.video-sec{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 110px;
    margin-right: 110px;
}
.video-img{
    height: 200px;
    width: 180px;
}
.cat-img{
    position: relative;
    margin-top: -190px;
    margin-right: 10px;
}
.game-sec-1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 185px;
    margin-left: 185px;
    gap: 65px;      
}
.game-sec-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 185px;
    margin-right: 185px;
    gap: 65px;
    margin-top: 65px;
}
.game-property{
    display: flex;
    transition: transform 0.3s ease;
}
.game-property p{
    margin-top: 15px;
    margin-left: 10px;
}
.game-property:hover{
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    transform: translateY(-40px);
}